@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./Roboto-Regular.woff2') format('woff2'),
  url('./Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./Roboto-Bold.woff2') format('woff2');
}

body {
  font-family: Roboto, sans-serif;
  background-color: red;
  color: white;
}

body::before {
  content: 'Hello world'
}